@import '../../assets/_styles';

.ScrollUp{
    display: none;
    position: fixed;
    bottom: 175px;
    right: 80px;
    width: 65px;
    height: 65px;
    border: 2px solid #c9ced3;
    border-radius: 50%;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjYzljZWQzOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5wYWdlX3VwX2Fycm93X2dyYXk8L3RpdGxlPiAgPGcgaWQ9ImV4cGFuZC1tb3JlIj4gICAgPHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjEuODcgMTAgOCAzLjc4IDE0LjEzIDEwIDE2IDguMTEgOCAwIDAgOC4xMSAxLjg3IDEwIi8+ICA8L2c+PC9zdmc+) 50% 50% no-repeat;
    background-size: 18px;

    &:hover{ 
        border-color: #87909a;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMGI3N2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5wYWdlX3VwX2Fycm93X0hvdmVyPC90aXRsZT4gIDxnIGlkPSJleHBhbmQtbW9yZSI+ICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxLjg3IDEwIDggMy43OCAxNC4xMyAxMCAxNiA4LjExIDggMCAwIDguMTEgMS44NyAxMCIvPiAgPC9nPjwvc3ZnPg==);   
    }

    &_visible{
        display: block;
    }
}
