@import '../../assets/_styles';

.FeedbackContainer{
    padding: 30px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 95px;
    border-radius: 2px;
    font-family: $os-font;
    box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.35); 
    
    &-Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-Title{
        font-weight: bold;
        font-size: 24px;
        color: $dark-gray;
    }

    &-Close{
        height: 16px;
        width: 16px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNyAxNyI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjN2M3YzdjOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5jbG9zZWRfZ3JheTwvdGl0bGU+ICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xNywxLjdMMTUuMywwLDguNSw2LjgsMS43LDAsMCwxLjcsNi44LDguNSwwLDE1LjMsMS43LDE3bDYuOC02LjhMMTUuMywxNywxNywxNS4zLDEwLjIsOC41Wm0wLDAiLz48L3N2Zz4=);
        cursor: pointer;
    }

    &-Form{
        width: 100%;
    }

    &-Name, &-Email, &-Select, &-Textarea, &-Button {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 36px;
        font-weight: bold;
        color: $dark-gray;

        input, select{
            box-sizing: border-box;
            border: 1px solid #dde1e6;
            border-radius: 2px;
            width: 100%;
            height: 46px;
            margin-top: 15px;
            padding-left: 10px;

            &:focus{
                box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.35); 
            }
        }

        select{
            color: $dark-gray;
            -webkit-appearance: none;
            background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiA2Ij4gIDxkZWZzPiAgICA8c3R5bGU+ICAgICAgLmNscy0xIHsgICAgICAgIGZpbGw6ICMzYjQyNTY7ICAgICAgfSAgICA8L3N0eWxlPiAgPC9kZWZzPiAgPHRpdGxlPmRyb3BfZG93bjwvdGl0bGU+ICA8ZyBpZD0iYXJyb3ctZHJvcC1kb3duIj4gICAgPHBvbHlnb24gY2xhc3M9ImNscy0xIiBwb2ludHM9IjAgMCA2IDYgMTIgMCAwIDAiLz4gIDwvZz48L3N2Zz4=) 50% 50% no-repeat;
            background-size: 12px;
            background-position-x: 455px;

            option{
                color: $dark-gray;
            }
        }
    }

    &-Name{

    }

    &-Textarea{
        & input{
            height: 190px;  
        }
    }

    &-Button{
        height: 48px;
        background-color: $blue-color;
        border: 0px;
        line-height: 48px;
        color: #fff;
        align-items: center;
        font-size: 18px;
        border-radius: 2px;
        margin-top: 50px;
    }
}
