.Header-Logo {
    display: flex;

    float: left;

    align-items: center;

    height: 95px;

    text-decoration: none;

    color: rgb(217, 222, 225);

    font-family: 'Open Sans';

    font-size: 14px;

    &::before {
        display: inline-block;
    
        width: 50px;
    
        height: 59px;
    
        margin-right: 20px;
    
        content: '';
    
        background-image: url(../../assets/Logo.png);
    }

}



.Header-Logo-Kindergarten {
    color: rgb(255, 255, 255);

    font-family: "Open Sans";

    font-size: 20px;

    font-weight: bold;

    line-height: 1.2;

    a {
        width: 100%;
    
        color: rgb(255, 255, 255);
    
        font-family: "Open Sans";
    
        font-size: 20px;
    
        font-weight: bold;
    
        line-height: 1.2;
    
    }
}



.Header-Logo-Crimea {
    color: rgb(217, 222, 225);

    font-family: 'Roboto';

    font-size: 14px;

    line-height: 1.714;
}

.Header-NavBlock a {
    text-decoration: none;
}

.Header-Logo-And-Text {
    display: flex;

    flex-direction: column;
}


.Обратная_связь {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgb(255, 255, 255);
    text-decoration: underline;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 1406px;
    top: 92.798px;
    z-index: 249;
  }
  