.Header-NavBlock-Links {
    display: flex;

    align-items: center;

    a {
        padding-left: 25px;

        color: white;

        &:hover {
            text-decoration: underline;

            color: white;
        }
    }
}