$footer_bg-color: #044da0;
$header_bg-color: #044da0;
$search_button-color: #f13e51;
$modal_button-color: #0b77dd;
$body_bg-color: #ecf4fc;
$low-grad-color: #004595;
$high-grad-color: #2491f6;

$os-font: "Open Sans";
$robo_font: "Roboto";
