@import '../../assets/_styles';

.RegionalSites {
    display: flex;

    align-items: center;

    width: 177px;

    height: 53px;

    margin: 0px 0;

    margin-left: -15px;

    padding-left: 15px;

    color: #bdcbd8;

    font-family: $robo-font;

    font-size: 14px;

    span {
        text-decoration: none;

        color: #bdcbd8;

    }

    &:hover span {

        color: white;
        cursor: pointer;

    }

    &:hover {

        background-color: #033a78;

    }
    &-Selected{
        display: flex;
        align-items: center;
    }
    &-Selected::before {
        display: inline-block;

        align-items: center;

        width: 17px;

        height: 17px;


        margin-right: 11px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZDlkZWUxOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5rdmFkcmF0X2dyYXk8L3RpdGxlPiAgPGc+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjYiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSIxMiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHk9IjYiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI2IiB5PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMTIiIHk9IjYiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB5PSIxMiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjYiIHk9IjEyIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMTIiIHk9IjEyIiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICA8L2c+PC9zdmc+) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }

    &-Selected:hover::before {
        display: inline-block;

        align-items: center;

        width: 17px;

        height: 17px;


        margin-right: 11px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZmZmOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5rdmFkcmF0X3doaXRlX0hvdmVyPC90aXRsZT4gIDxnPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMTIiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB5PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iNiIgeT0iNiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjEyIiB5PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iMTIiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI2IiB5PSIxMiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjEyIiB5PSIxMiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgPC9nPjwvc3ZnPg==) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }

    &-Selected::after {
        display: inline-block;

        align-items: center;

        width: 11px;

        height: 11px;

        margin-left: 9px;

        content: '';

        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4IDY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDojRDlERUUxO308L3N0eWxlPjxnPjxnIGlkPSJleHBhbmQtbW9yZSI+PHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSI3LjEsMC41IDQsMy42IDAuOSwwLjUgMCwxLjUgNCw1LjUgOCwxLjUgIi8+PC9nPjwvZz48L3N2Zz4=) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }

    /*&-Selected:focus::after {
        display: inline-block;

        align-items: center;

        width: 11px;

        height: 11px;

        margin-left: 9px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMGI3N2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5wYWdlX3VwX2Fycm93X0hvdmVyPC90aXRsZT4gIDxnIGlkPSJleHBhbmQtbW9yZSI+ICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxLjg3IDEwIDggMy43OCAxNC4xMyAxMCAxNiA4LjExIDggMCAwIDguMTEgMS44NyAxMCIvPiAgPC9nPjwvc3ZnPg==) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }*/

    /*&-Selected:focus:hover::after {
        display: inline-block;

        align-items: center;

        width: 11px;

        height: 11px;

        margin-left: 9px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMGI3N2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5wYWdlX3VwX2Fycm93X0hvdmVyPC90aXRsZT4gIDxnIGlkPSJleHBhbmQtbW9yZSI+ICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxLjg3IDEwIDggMy43OCAxNC4xMyAxMCAxNiA4LjExIDggMCAwIDguMTEgMS44NyAxMCIvPiAgPC9nPjwvc3ZnPg==) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }*/

    &-Selected:hover::after {
        display: inline-block;

        align-items: center;

        width: 11px;

        height: 11px;

        margin-left: 9px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4IDQuOTMiPiAgPGRlZnM+ICAgIDxzdHlsZT4gICAgICAuY2xzLTEgeyAgICAgICAgZmlsbDogI2ZmZjsgICAgICB9ICAgIDwvc3R5bGU+ICA8L2RlZnM+ICA8dGl0bGU+aGVhZGVyX2Fycm93X3doaXRlXzE8L3RpdGxlPiAgPHBhdGggY2xhc3M9ImNscy0xIiBkPSJNNy4wNywwTDQsMy4xLDAuOTMsMCwwLDEsNCw1LDgsMVptMCwwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC0wLjAzKSIvPjwvc3ZnPg==) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }

    &-Drop {
        visibility: hidden;

        transition: margin-left 0.5s ease 0s;

        position: absolute;

        z-index: 950;

        li {
            display: flex;

            float: left;

            flex-direction: column;

            list-style-type: none;

        }
    }
&_opened{
&:hover span{
    color: #bdcbd8;
}

}


    &-Drop_opened {
        position: absolute;

        z-index: 950;

        top: 53px;

        visibility: visible;

        margin-left: -15px;

        transition: margin-top 0.5s ease 0s;

        li {
            display: flex;

            float: left;

            flex-direction: column;

            padding: 23px 83px 23px 23px;

            list-style-type: none;

            background-color: white;

            font-family: $robo-font;

            font-size: 13px;

            a {
                text-decoration: none;
            }

        }

    }
}

.RegionalSitesAndDrop {
    display: flex;
    height: 54px;
}


.RegionalSites-Selected_opened{
    display: flex;
    align-items: center;
    width: 207px;
    margin-left: -15px;
    padding-left: 15px;
    height: 53px;
    background-color: #033a78;
 
    & span {
       color: #bdcbd8;

    }

    &::before {
        display: inline-block;

        align-items: center;

        width: 17px;

        height: 17px;


        margin-right: 11px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjZmZmOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5rdmFkcmF0X3doaXRlX0hvdmVyPC90aXRsZT4gIDxnPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iMTIiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB5PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeD0iNiIgeT0iNiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjEyIiB5PSI2IiB3aWR0aD0iNCIgaGVpZ2h0PSI0Ii8+ICAgIDxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iMTIiIHdpZHRoPSI0IiBoZWlnaHQ9IjQiLz4gICAgPHJlY3QgY2xhc3M9ImNscy0xIiB4PSI2IiB5PSIxMiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgICA8cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjEyIiB5PSIxMiIgd2lkdGg9IjQiIGhlaWdodD0iNCIvPiAgPC9nPjwvc3ZnPg==) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }
    
    &::after {
        display: inline-block;

        align-items: center;

        width: 11px;

        height: 11px;

        margin-left: 9px;

        content: '';

        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMGI3N2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5wYWdlX3VwX2Fycm93X0hvdmVyPC90aXRsZT4gIDxnIGlkPSJleHBhbmQtbW9yZSI+ICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxLjg3IDEwIDggMy43OCAxNC4xMyAxMCAxNiA4LjExIDggMCAwIDguMTEgMS44NyAxMCIvPiAgPC9nPjwvc3ZnPg==) 50% 50% no-repeat;

        box-shadow: 0 0 1px #f00;

    }
&:hover::after{
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i0KHQu9C+0LlfMSIgZGF0YS1uYW1lPSLQodC70L7QuSAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+ICA8ZGVmcz4gICAgPHN0eWxlPiAgICAgIC5jbHMtMSB7ICAgICAgICBmaWxsOiAjMGI3N2RkOyAgICAgIH0gICAgPC9zdHlsZT4gIDwvZGVmcz4gIDx0aXRsZT5wYWdlX3VwX2Fycm93X0hvdmVyPC90aXRsZT4gIDxnIGlkPSJleHBhbmQtbW9yZSI+ICAgIDxwb2x5Z29uIGNsYXNzPSJjbHMtMSIgcG9pbnRzPSIxLjg3IDEwIDggMy43OCAxNC4xMyAxMCAxNiA4LjExIDggMCAwIDguMTEgMS44NyAxMCIvPiAgPC9nPjwvc3ZnPg==) 50% 50% no-repeat;

    box-shadow: 0 0 1px #f00;
}
    &:hover{
        color: #bdcbd8;
    }
    

    
}